* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(./assets/imgone.png);
  background-position: center 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bdc2c3;
}

.backimgtwo {
  width: 100%;
  margin-top: -100px;
  z-index: 1;
}

.navlink {
  font-family: sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.scrollmenu {
  font-size: 18px;
  font-family: sans-serif;
  border-right: 3px solid #d3d8d7;
  color: #ffffff;
  display: flex;
  justify-content: end;
  padding: 8px 5px 8px 0;
}
.shadow {
  position: absolute;
  z-index: 2;
  width: 100%;
  box-shadow: 0 -50px 150px 150px rgba(11, 29, 38); /* 5px sochib */
}


.main{
  background-color: #0a1a1f;
}

.level-hiker{
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #0a1a1f;
  padding: 0 100px;
  margin-bottom: 200px;
}

.level-hiker p{
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 600px;  
  margin-bottom: 27px;  
}

.level-hiker h2{
  font-family: Chronicle Display;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;    
  margin-bottom: 27px;
  width: 555px;
  margin-top: 30px;
}

.level-hiker h3{
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color:#FBD784 ;    
  margin-bottom: 27px;
  margin-top: 90px;
}

.level-hiker h4{
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FBD784;    
}

.level-hiker div{
  padding-left: 100px;
}

.level-hiker img{
  margin-top: 50px;
}

.hiking-gear{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiking-gear p{
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 580px;  
  margin-bottom: 27px;  
}

.hiking-gear h2{
  font-family: Chronicle Display;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;    
  margin-bottom: 27px;
  width: 555px;
}

.hiking-gear h3{
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color:#FBD784 ;    
  margin-bottom: 27px;
}

.hiking-gear h4{
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FBD784; 
  margin-bottom: 90px;
}

.hiking-gear img{
  margin-bottom: 50px;
}